/* ALLGEMEINE EINSTELLUNGEN */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

#navigation {
    width: 100%;
    height: 100px;
    background: rgb(255, 213, 21);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

    #navigation a:hover {
        color: deepskyblue;
        text-decoration:underline;
    }

#logo {
    background: url(Logo.jpg) no-repeat;
    background-size: contain;
    width: 140px;
    height: 95px;
    float: left;
    margin-left: 25px;
}

#nav_heading a {
    margin-left: 40px;
    color: rgb(65,105,225);
    font-size: 43px;
    font-weight: 700;
}

#nav_menu a {
    color: rgb(65,105,225);
    font-size: 20px;
    font-weight: 600;
    margin-right: 25px;
    margin-top: 30px;
}

/* RECHNER */

.calculator {
    color: rgb(65,105,225);
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(229,228,226);
    width: 40%;
    padding: 20px;
    margin-top: 120px;
    border-radius: 5px;
    border: 1px solid #000;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}

#calculateButton {
    width: 50%;
    padding: 5px;
    background-color: rgb(65,105,225);
    font-size: 18px;
    font-weight: 500;
    color: white;
    border-radius: 3px;
    border: 1px solid #000;
}

    #calculateButton:active {
        background-color: #45a049 !important; /* Dunkleres Gr�n */
    }

    #calculateButton:hover {
        background-color: deepskyblue; 
    }

.tooltip {
    position: relative;
    display: block;
    margin-right: 15px;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: white;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
        z-index: 5;

    }

.question-mark {
    background-color: blue;
    border-radius: 50%;
    color: white;
    padding: 2px;
    font-size: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;

}

input[type="number"], input[type="date"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid transparent;
}

input::placeholder {
    text-align: right;
}



/* ERGEBNISSE */

.results {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

    .results h1 {
        margin-left: 10px;
    }

    .results h3 {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 20px;
    }

    .results p {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 16px;
    }


.financial {
    background-color: rgb(34,139,34);
    width: 40%;
    margin-right: 10%;
    display: none;
    border-radius: 5px;
    border: 1px solid #000;
}

.health {
    background-color: rgb(220,20,60);
    width: 40%;
    display: none;
    border-radius: 5px;
    border: 1px solid transparent;
    border: 1px solid #000;
}

    .financial h1,
    .health h1 {
        font-size: 28px;
        margin-left: 10px;
    }

    .financial h3,
    .health h3 {
        margin-top: 5px;
        font-size: 20px;
    }

    .financial p,
    .health p {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 18px;
    }

.benefit {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.benefit-text {
    display: none;
    margin-top: -20px;
}

.benefit-arrow {
    margin-top: -15px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
    transition: transform 0.3s;
}

.benefit.active .benefit-arrow {
    transform: rotate(90deg);
}

.benefit.active .benefit-text {
    display: block;
}




.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0% {
        background-color: blue;
        opacity: 1;
    }

    50% {
        background-color: white;
        opacity: 0.5;
    }

    100% {
        background-color: blue;
        opacity: 1;
    }
}
